<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Soon to be graduate from UC Berkeley with an M.S. in Mechanical Engineering seeking full-time position in high-tech fields such as computer hardware and manufacturing. Over 4 summers' worth of work experience as an intern at Lawrence Livermore National Laboratory doing research, CAD, and programming. Coursework in fields as varied as Artificial Intelligence, Mechanical Behavior of Materials, and Lean Manufacturing. Inventor on 2 filed patents, author on 1 published paper, and author of 2 more in preparation for submission. </p>
</div><!--//summary-->
</section><!--//section-->
