 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">M.S. in Mechanical Engineering</h4>
    <h5 class="meta">University of California, Berkeley</h5>
    <div class="time">August 2016 - May 2018</div>
    <div class="courses"> Electives: Lean Manufacturing, Artificial Intelligence, Mechanical Behavior of Materials</h5>
</div><!--//item-->
<div class="item">
    <h4 class="degree">B.S. in Mechanical Engineering</h4>
    <h5 class="meta"> University of California, Davis</h5>
    <div class="time">September 2014 - June 2016</div>
    <div class="courses"> Electives: Mechanical Design, Materials Selection</h5>
</div><!--//item-->
  <div class="item">
    <h4 class="degree">A.A. Mathematics</h4>
    <h4 class="degree">A.S. Science (Natural)</h4>
    <h5 class="meta"> Peralta Community College District</h5>
    <div class="time">June 2011 - May 2014</div>
</div><!--//item-->
</div><!--//education-container-->
