<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Materials Engineering Division Intern</h3>
                            <div class="time">May 2014 - August 2017 (Seasonal)</div>
                        </div><!--//upper-row-->
                        <div class="company">Lawrence Livermore National Laboratory - Livermore, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Researched new light-directed electrophoretic deposition (EPD) techniques</li>
                        <li>Developed software using Python to control 3D Printers and allow users to selectively cancel parts on the bed</li>
                        <li>Wrote LabVIEW software to interface with hardware pumps and automate the EPD process</li>
                        <li>Used SOLIDWORKS to design fixtures and adapters necessary for experiments</li>
                        <li>Created the first draft of safety guidelines for a new microcapsule fabrication process</li>
                        <li>Synthesized Li<sub>7</sub>La<sub>3</sub>Zr<sub>2</sub>O<sub>12</sub> and characterized it using X-Ray diffraction</li>
                        <li>First author of paper published in <a href="https://www.sciencedirect.com/science/article/pii/S2214860418300976" target="_blank">Additive Manufacturing</a></li>
                        <li>First author of 1 paper currently in process of submission</li>
                        <li>Second author of paper published in <a href="https://www.scientific.net/KEM.654.261" target="_blank">Key Engineering Materials</a></li>
                        <li>Inventor on 2 patents filed based on research I performed</li>
                        <li>Presented work at a Materials Research Society conference in Phoenix, CA</li>
                        <li>Work I performed presented by mentors in Austin (TX), Austria and South Korea</li>
                        
                      </ul>
                  
                  </div><!--//details-->
                </div><!--//item-->
  
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Undergraduate Research Assistant II</h3>
                            <div class="time">October 2015 - June 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">University of California, Davis - Davis, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                      <li>Prepare particle suspensions, measured their conductivities and pH</li>
                      <li>Used confocal microscope to study height bifurcation of colloids in basic solution when subject to AC electric fields</li>  
                      </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Math Lab Tutor</h3>
                            <div class="time">Fall 2012 - Spring 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">Laney College - Oakland, CA</div>
                    </div><!--//meta-->
                    <div class="details">
                      <ul>
                        <li>Taught students organizational skills, course material, and effective methods to study. </li>
                        <li>Tutored math from Arithmetic to Vector Calculus and at times Physics and Chemistry</li>
                      </ul>
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                
                
            </section><!--//section-->
