<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>You can list your side projects or open source libraries in this section. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et ligula in nunc bibendum fringilla a eu lectus.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="http://jeronimomora.com/camera-interact/">Camera Interact</a></span> - <span class="project-tagline">An interactive lesson aimed at teaching camera concepts written in THREE.js</span>                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://jeronimomora.com/docs/EmbeddedSensorsInAMParts.pdf">Embedded Sensors in Additively Manufactured Parts</a></span> - 
                    <span class="project-tagline">My UC Davis senior project exploring the feasability and accuracy of embedded sensors in 3D printed parts.</span>
                </div><!--//item-->

            </section><!--//section-->
