<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="item">
                    <span class="project-title"><a href="http://jeronimomora.com/camera-interact/" target="_blank">Camera Interact</a></span> - <span class="project-tagline">UC Berkeley Computer Graphics final project: An interactive lesson aimed at teaching camera concepts written in THREE.js</span>                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="http://jeronimomora.com/docs/EmbeddedSensorsInAMParts.pdf" target="_blank">Embedded Sensors in Additively Manufactured Parts</a></span> - 
                    <span class="project-tagline">UC Davis Mechanical Engineering senior project exploring the feasibility and accuracy of embedded sensors in 3D printed parts. Compared experimental beam strains to CAD simulations.
Created Wheatstone bridge circuit to measure internal strains in 3D printed beams using embedded strain gauges</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">Wanhao 3D Printer Rebuild</span> - 
                    <span class="project-tagline">Upgraded printer electronics using an Arduino Mega and a RAMPS shield. Changed wire type to Dupont connectors. Routed heated bed power through a MOSFET. Performed a Z-brace modification for system stiffness</span>
                </div><!--//item-->

            </section><!--//section-->
